@scroll-timeline arrow-scroll {
    source: auto;
    /* scroll del viewport */
    orientation: block;
    /* vertical */
    scroll-offsets: 0% 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Jost", sans-serif;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.swiper {
    position: static !important;
}

.swiper-container-aux {
    position: relative;
}

.swiper {
    .swiper-pagination {
        bottom: -10px !important;

        .swiper-pagination-bullet {
            width: 13px;
            height: 13px;

            &.swiper-pagination-bullet-active {
                background-color: #9d8a8d;
            }
        }
    }
}

.swiper {
    &[thumbsSlider] {
        .swiper-slide {
            opacity: 0.4;
        }
    }
}

.swiper {
    &[thumbsSlider] {
        .swiper-slide-thumb-active {
            opacity: 1;
        }
    }
}

.swiper-container-aux {
    background-image: url('../img/soga-7.png');
    background-position: center;
    background-size: contain;
    min-height: 30rem;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); */
    z-index: 11;
    padding: 1rem;
    text-align: center;

    img {
        width: 64px;
        margin-left: auto;
        margin-right: auto;
    }
}

.hero {
    background-image: url('../img/wedding-hero.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100dvh;
    background-attachment: fixed;
    color: #FFF;
    position: relative;

    .top-hero {
        position: absolute;
        top: 20px;
        right: 20px;

        @media(min-width: 1200px) {
            top: 90px;
            right: 90px;
        }
    }

    .bottom-hero {
        position: absolute;
        bottom: 90px;
        left: 20px;

        @media(min-width: 1200px) {
            bottom: 90px;
            left: 90px;
        }
    }

    .message-top {
        font-size: 3rem;
        line-height: 1;

        @media(min-width: 1200px) {
            font-size: 4rem;
        }

        span {
            font-family: "Alex Brush", cursive;
        }
    }

    .names-wedding {
        font-size: 3rem;
        font-family: "Alex Brush", cursive;
        line-height: 1;
        margin-bottom: 2rem;

        @media(min-width: 1200px) {
            font-size: 4rem;
        }
    }

    .date-wedding {
        font-size: 1.8rem;
        letter-spacing: 5px;
        margin-bottom: 0;
        line-height: 1;
        margin-bottom: 0.5rem;

        @media(min-width: 1200px) {
            font-size: 2.250rem;
        }
    }

    .location-wedding {
        font-size: 1.250rem;
        line-height: 1;

        @media(min-width: 1200px) {
            font-size: 1.5rem;
        }
    }
}

.cta {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100dvh;
    background-attachment: fixed;
    color: #FFF;

    &.cta-wedding-couple-1 {
        background-image: url('../img/cta-wedding-couple-1.jpeg');
    }

    &.cta-wedding-couple-2 {
        background-image: url('../img/cta-wedding-couple-2.jpeg');
    }
}

.image-content-wedding-couple {
    position: relative;
    height: 25rem;
    overflow: hidden;

    @media(min-width: 1200px) {
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::after {
        content: "";
        display: block;
        background-image: url('../img/shape-1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: screen;
        z-index: 2;
    }
}

.side-wedding-couple {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;

    &::after,
    &::before {
        content: "";
        display: block;
        background-image: url('../img/sheet.svg');
        width: 300px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 2;
        left: 50%;
        translate: -50% 0;
    }

    &::after {
        top: -100px;
    }

    &::before {
        bottom: -100px;
        rotate: -180deg;
    }
}

.names-weidding-couple {
    font-family: "Alex Brush", cursive;
    color: #9d8a8d;
    /* color: #c9b37e; */
    font-size: 5rem;
    line-height: 1;
}

.title-text-event-wedding {
    text-align: center;
    font-size: 2.250rem;
    font-family: "Alex Brush", cursive;
    color: #222;
    margin-bottom: 1rem;
}

.singular-event-wedding {
    background-color: #FFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20rem;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    corner-shape: scoop;

    .data-event-widding {
        display: flex;
        align-items: center;
        line-height: 1;
        font-size: 1.125rem;
        color: #525252;

        &.time-event {
            font-size: 1.250rem;
            /* transform-origin: center; */
            animation: grow-title linear both;
            -webkit-animation: grow-title linear both;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
        }
    }
}

.btn {
    display: inline-block;
    padding: 12px 2rem;
    text-align: center;
    text-decoration: none;
    box-shadow: none;

    &.btn-primary {
        background-color: #9eb4cc;
        font-weight: 600;
        color: #FFF;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;

        &:hover {
            background-color: #6984a1;
        }
    }
}

.text-information-date-wedding {
    font-size: 1.3rem;
    color: #222;

    @media(min-width: 1200px) {
        font-size: 1.6rem;
    }
}


.simply-countdown {
    overflow: visible !important;

    .simply-section {
        border: 0 !important;
        box-shadow: none !important;

        .simply-amount {
            font-size: 3.5rem !important;
            font-family: "Square Peg", cursive !important;
            font-weight: 400 !important;
            color: #9d8a8d !important;
        }

        .simply-word {
            color: #525252 !important;
            font-family: "Jost", sans-serif !important;
            font-size: 0.875rem !important;
        }
    }
}

.slider {
    display: flex;
    overflow: hidden;

    .slide {
        min-width: 33.3333%;
    }
}

.section-our-parents {
    color: #FFF;
    /* background-color: #9eb4cc; */
    background-color: #6984a1;
    min-height: 100dvh;

    h2 {
        font-size: 3.250rem;
        line-height: 1;
        font-family: "Alex Brush", cursive;

        span {
            font-family: "Alex Brush", cursive;
        }
    }

    .content-icon-section {
        img {
            width: 210px;
            margin-left: auto;
            margin-right: auto;
            object-fit: contain;
            /* position: absolute;
            top: -30px;
            left: 50%;
            translate: -50% 0;
            z-index: 2; */
        }
    }

    h3 {
        font-size: 1.5rem;
    }

    .name-parent {
        font-size: 1.125rem;
    }
}

.section-our-godparents {
    background-color: #F5F5F5;
    min-height: 100dvh;

    h2 {
        color: #9d8a8d;
        font-size: 3.250rem;
        line-height: 1;
        font-family: "Alex Brush", cursive;

        span {
            font-family: "Alex Brush", cursive;
        }
    }

    .content-icon-section {
        img {
            width: 64px;
            margin-left: auto;
            margin-right: auto;
            object-fit: contain;
            /* position: absolute;
            top: -30px;
            left: 50%;
            translate: -50% 0;
            z-index: 2; */
        }
    }

    .singular-godparent {
        text-align: center;

        .type-godparent {
            font-size: 1.5rem;
            color: #9d8a8d;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        .names-godparents {
            font-size: 1.125rem;
            color: #525252;
            /* line-height: 1; */
        }
    }
}

.section-minute-to-minute {
    background-color: #F5F5F5;

    h2 {
        font-family: "Alex Brush", cursive;
        font-size: 2.5rem;
        line-height: 1;
        color: #222;
    }

    .timeline {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5rem;
        position: relative;
        overflow: hidden;

        .singular-item {
            width: calc(50% - 5rem);
            color: #525252;

            &:nth-child(2n + 1) {
                text-align: end;
            }

            &:nth-child(2n) {
                margin-top: 10rem;
            }

            .step-number {
                color: #9d8a8d;
                font-size: 1.250rem;
            }

            .step-title {
                color: #9eb4cc;
                font-size: 1.250rem;
                margin-bottom: 2rem;
            }

            .step-text {
                font-size: 1.125rem;
            }
        }

        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 100%;
            border-left: 1px dashed #6984a1;
            position: absolute;
            top: 0;
            left: 50%;
            translate: -50% 0;
        }

        .arrow-indicator {
            position: absolute;
            top: -190px;
            left: 50%;
            width: 18px;
            translate: -50% 0;
        }
    }
}



/* .wedding-arrow {
    height: 100%;
} */

/* #arrow-path {
    stroke-linecap: round;
    stroke-linejoin: round;
} */


#miSVG {
    display: block;
    margin: 50px auto;
    width: 50px;
    height: 1400px;
}





.footer {
    background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url('../img/wedding-2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    .names-weidding-couple-footer {
        font-size: 2.5rem;
    }

    /* .names-weidding-couple-footer {
        opacity: 0;
        font-size: 1rem;
        transform: translateY(90px);
        -webkit-transform: translateY(90px);
        -moz-transform: translateY(90px);
        -ms-transform: translateY(90px);
        -o-transform: translateY(90px);
    } */
}

.music-content {
    position: fixed;
    top: 50%;
    right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    z-index: 4;
    translate: 0 -50%;
    backdrop-filter: blur(5px);
}




.bottom-title {
    animation: bottom-title linear 3s forwards;
    -webkit-animation: bottom-title linear 3s forwards;
}


@keyframes animateWeddingCouple {
    from {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    to {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
}

@keyframes grow-title {
    from {
        font-size: 1.250rem;
    }

    to {
        font-size: 1.5rem;
    }
}

#texto {
    opacity: 0;
    animation: fadeIn 3s ease forwards 3s;
    -webkit-animation: fadeIn 3s ease forwards 3s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes bottom-title {
    from {
        opacity: 0;
        transform: translateY(90px);
        -webkit-transform: translateY(90px);
        -moz-transform: translateY(90px);
        -ms-transform: translateY(90px);
        -o-transform: translateY(90px);
    }

    to {
        opacity: 1;
        font-size: 2.5rem;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}