:root {
    --color-primary: #9eb4cc;
    --color-primary-hover: #6984a1;
    --color-secondary: #9d8a8d;
    --color-secondary-hover: #7e575d;
    --color-text-dark-1: #353535;
    --color-text-gray-1: #666;
    --color-background-light: #f5f5f5;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Jost", sans-serif;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.swiper {
    position: static !important;
}

.swiper-container-aux {
    position: relative;
}

.swiper {
    .swiper-pagination {
        bottom: -10px !important;

        .swiper-pagination-bullet {
            width: 13px;
            height: 13px;

            &.swiper-pagination-bullet-active {
                background-color: var(--color-secondary);
            }
        }
    }
}

.swiper {
    &[thumbsSlider] {
        .swiper-slide {
            opacity: 0.4;
        }
    }
}

.swiper {
    &[thumbsSlider] {
        .swiper-slide-thumb-active {
            opacity: 1;
        }
    }
}

.swiper-container-aux {
    background-image: url('../img/soga-7.png');
    background-position: center;
    background-size: contain;
    min-height: 30rem;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-scroll {
    height: 100dvh;
    overflow: hidden;
}


.loader-content {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 20;
    /* opacity: 0;
    visibility: hidden; */
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

    &.show-loader {
        opacity: 1;
        visibility: visible;
    }

    &.hide-loader {
        opacity: 0;
        visibility: hidden;
    }

    /*.loader {
        width: fit-content;
        font-size: 40px;
        line-height: 1.5;
        font-weight: bold;
        text-transform: uppercase;
        color: #0000;
        -webkit-text-stroke: 1px #000;
        background:
            radial-gradient(1.13em at 50% 1.6em, #000 99%, #0000 101%) calc(50% - 1.6em) 0/3.2em 100% text,
            radial-gradient(1.13em at 50% -0.8em, #0000 99%, #000 101%) 50% .8em/3.2em 100% repeat-x text;
        animation: l9 2s linear infinite;
        &::before {
            content: "Cargando...";
        }
    } */
    .loader {
        font-size: 2rem;
        line-height: 1.2em;
        display: inline-grid;
        /* font-family: "Alex Brush", cursive; */
        font-family: "Square Peg", cursive;
    }

    .loader:before,
    .loader:after {
        content: "Cargando...";
        grid-area: 1/1;
        -webkit-mask: linear-gradient(90deg, #000 50%, #0000 0) 0 50%/2ch 100%;
        color: #0000;
        text-shadow: 0 0 0 #000, 0 calc(var(--s, 1)*1.2em) 0 #000;
        animation: l15 1s infinite;
        -webkit-animation: l15 1s infinite;
    }

    .loader:after {
        -webkit-mask-position: 1ch 50%;
        --s: -1;
    }

}

@keyframes l15 {

    80%,
    100% {
        text-shadow: 0 calc(var(--s, 1)*-1.2em) 0 #000, 0 0 0 #000;
    }
}



@keyframes l9 {
    to {
        background-position: calc(50% + 1.6em) 0, calc(50% + 3.2em) .8em
    }
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); */
    z-index: 11;
    padding: 1rem;
    text-align: center;

    img {
        width: 40px;
        margin-left: auto;
        margin-right: auto;
        animation: grow-img linear both;
        -webkit-animation: grow-img linear both;
        animation-timeline: view();
        animation-range: entry 0% cover 90%;
    }
}

.hero {
    background-image: url('../img/wedding-hero.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100dvh;
    background-attachment: fixed;
    color: #FFF;
    position: relative;

    .top-hero {
        position: absolute;
        top: 20px;
        right: 20px;

        @media(min-width: 1200px) {
            top: 90px;
            right: 90px;
        }
    }

    .bottom-hero {
        position: absolute;
        bottom: 90px;
        left: 20px;

        @media(min-width: 1200px) {
            bottom: 90px;
            left: 90px;
        }
    }

    .message-top {
        font-size: 3rem;
        line-height: 1;

        @media(min-width: 1200px) {
            font-size: 4rem;
        }

        span {
            font-family: "Alex Brush", cursive;
        }
    }

    .names-wedding {
        font-size: 3rem;
        font-family: "Alex Brush", cursive;
        line-height: 1;
        margin-bottom: 2rem;

        @media(min-width: 1200px) {
            font-size: 4rem;
        }
    }

    .date-wedding {
        font-size: 1.8rem;
        letter-spacing: 5px;
        margin-bottom: 0;
        line-height: 1;
        margin-bottom: 0.5rem;

        @media(min-width: 1200px) {
            font-size: 2.250rem;
        }
    }

    .location-wedding {
        font-size: 1.250rem;
        line-height: 1;

        @media(min-width: 1200px) {
            font-size: 1.5rem;
        }
    }
}

.cta {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100dvh;
    background-attachment: fixed;
    color: #FFF;

    &.cta-wedding-couple-1 {
        background-image: url('../img/cta-wedding-couple-1.jpeg');
    }

    &.cta-wedding-couple-2 {
        background-image: url('../img/cta-wedding-couple-2.jpeg');
    }
}

.image-content-wedding-couple {
    position: relative;
    height: 25rem;
    overflow: hidden;

    @media(min-width: 1200px) {
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::after {
        content: "";
        display: block;
        background-image: url('../img/shape-1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: screen;
        z-index: 2;
    }
}

.side-wedding-couple {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;

    &::after,
    &::before {
        content: "";
        display: block;
        background-image: url('../img/sheet.svg');
        width: 300px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 2;
        left: 50%;
        translate: -50% 0;
    }

    &::after {
        top: -100px;
    }

    &::before {
        bottom: -100px;
        rotate: -180deg;
    }
}

.names-weidding-couple {
    font-family: "Alex Brush", cursive;
    color: var(--color-secondary);
    /* color: #c9b37e; */
    font-size: 5rem;
    line-height: 1;
}

.title-text-event-wedding {
    text-align: center;
    font-size: 2.250rem;
    font-family: "Alex Brush", cursive;
    color: var(--color-text-dark-1);
    margin-bottom: 1rem;
}

.singular-event-wedding {
    background-color: #FFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20rem;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    corner-shape: scoop;

    .data-event-widding {
        display: flex;
        align-items: center;
        line-height: 1;
        font-size: 1.125rem;
        color: var(--color-text-gray-1);

        &.time-event {
            font-size: 1.250rem;
            color: #393939;
            /* transform-origin: center; */
            animation: grow-title linear both;
            -webkit-animation: grow-title linear both;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
        }
    }
}

.btn {
    display: inline-block;
    padding: 12px 2rem;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    box-shadow: none;
    border: 3px solid transparent;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

    &.btn-primary {
        background-color: var(--color-primary);
        color: #FFF;

        &:hover,
        &:focus,
        &:active {
            background-color: var(--color-primary-hover);
        }
    }

    &.btn-outline-primary {
        border-color: var(--color-primary);
        color: var(--color-primary-hover);
    }

    &.btn-secondary {
        background-color: var(--color-secondary);
        color: #FFF;

        &:hover,
        &:focus,
        &:active {
            background-color: var(--color-secondary-hover);
        }
    }

    &.btn-outline-secondary {
        border-color: var(--color-secondary);
        color: var(--color-secondary-hover);
    }
}

.text-information-date-wedding {
    font-size: 1.3rem;
    color: var(--color-text-dark-1);

    @media(min-width: 1200px) {
        font-size: 1.6rem;
    }
}


.simply-countdown {
    overflow: visible !important;

    .simply-section {
        border: 0 !important;
        box-shadow: none !important;

        .simply-amount {
            font-size: 3.5rem !important;
            font-family: "Square Peg", cursive !important;
            font-weight: 400 !important;
            color: var(--color-secondary) !important;
        }

        .simply-word {
            color: #525252 !important;
            font-family: "Jost", sans-serif !important;
            font-size: 0.875rem !important;
        }
    }
}

.slider {
    display: flex;
    overflow: hidden;

    .slide {
        min-width: 33.3333%;
    }
}

.section-getting-married {
    h2 {
        font-size: 2rem;
        color: var(--color-text-dark-1);
    }

    p {
        color: var(--color-text-gray-1);
    }
}

.section-our-parents {
    color: #FFF;
    /* background-color: var(--color-primary); */
    background-color: var(--color-primary-hover);
    min-height: 100dvh;

    h2 {
        /* font-size: 3.250rem; */
        font-size: 2.5rem;
        line-height: 1;
        font-family: "Alex Brush", cursive;

        span {
            font-family: "Alex Brush", cursive;
        }
    }

    .content-icon-section {
        img {
            width: 210px;
            margin-left: auto;
            margin-right: auto;
            object-fit: contain;
            /* position: absolute;
            top: -30px;
            left: 50%;
            translate: -50% 0;
            z-index: 2; */
        }
    }

    h3 {
        font-size: 1.5rem;
    }

    .name-parent {
        font-size: 1.125rem;
    }
}

.section-our-godparents {
    background-color: var(--color-background-light);
    min-height: 100dvh;

    h2 {
        color: var(--color-secondary);
        /* font-size: 3.250rem; */
        font-size: 2.5rem;
        line-height: 1;
        font-family: "Alex Brush", cursive;

        span {
            font-family: "Alex Brush", cursive;
        }
    }

    .content-icon-section {
        img {
            width: 64px;
            margin-left: auto;
            margin-right: auto;
            object-fit: contain;
            /* position: absolute;
            top: -30px;
            left: 50%;
            translate: -50% 0;
            z-index: 2; */
        }
    }

    .singular-godparent {
        text-align: center;

        .type-godparent {
            font-size: 1.5rem;
            color: var(--color-secondary);
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        .names-godparents {
            font-size: 1.125rem;
            color: var(--color-text-gray-1);
            /* line-height: 1; */
        }
    }
}

.section-minute-to-minute {
    background-color: var(--color-background-light);

    h2 {
        font-family: "Alex Brush", cursive;
        font-size: 2.5rem;
        line-height: 1;
        color: var(--color-text-dark-1);
    }

    .timeline {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.5rem;
        position: relative;

        @media(min-width: 1200px) {
            gap: 5rem;
        }

        .singular-item {
            width: calc(50% - 2.5rem);
            color: var(--color-text-gray-1);

            @media(min-width: 1200px) {
                width: calc(50% - 5rem);
            }

            &:nth-child(2n + 1) {
                text-align: end;
            }

            &:nth-child(2n) {
                margin-top: 10rem;
            }

            .step-number {
                color: var(--color-secondary);
                font-size: 1.250rem;
            }

            .step-title {
                color: var(--color-primary);
                font-size: 1.250rem;
                margin-bottom: 2rem;
            }

            .step-text {
                font-size: 1.125rem;
            }
        }

        /* .singular-item {
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
        } */

        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 100%;
            border-left: 1px dashed var(--color-primary-hover);
            position: absolute;
            top: 0;
            left: 50%;
            translate: -50% 0;
        }

        .arrow-indicator {
            position: absolute;
            top: -190px;
            left: 50%;
            width: 18px;
            translate: -50% 0;
            z-index: 1;
        }
    }
}



.section-she-said-yes {
    h2 {
        font-size: 2.5rem;
        line-height: 1;
        color: var(--color-text-dark-1);

        span {
            font-family: "Alex Brush", cursive;
        }
    }

    p {
        color: var(--color-text-gray-1);
    }
}



.footer {
    background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url('../img/wedding-2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    .names-weidding-couple-footer {
        font-size: 2.5rem;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0.75rem;
        opacity: 0;
        transform: translateY(90px);
        -webkit-transform: translateY(90px);
        -moz-transform: translateY(90px);
        -ms-transform: translateY(90px);
        -o-transform: translateY(90px);
    }

    /* .names-weidding-couple-footer {
        opacity: 0;
        font-size: 1rem;
        transform: translateY(90px);
        -webkit-transform: translateY(90px);
        -moz-transform: translateY(90px);
        -ms-transform: translateY(90px);
        -o-transform: translateY(90px);
    } */
}

.music-init-content {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

    &.hide-music-init-content {
        opacity: 0;
        visibility: hidden;
    }

    p {
        font-family: "Square Peg", cursive;
        color: var(--color-text-dark-1);
        /* font-size: 1.250rem; */
        font-size: 2rem;
        min-height: 50px;
    }
}

.music-content {
    position: fixed;
    top: 50%;
    right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    z-index: 12;
    translate: 0 -50%;
    backdrop-filter: blur(5px);
}




.bottom-title {
    animation: bottom-title linear 3s forwards;
    -webkit-animation: bottom-title linear 3s forwards;
}


@keyframes animateWeddingCouple {
    from {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    to {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
}

@keyframes grow-title {
    from {
        font-size: 1.250rem;
    }

    to {
        font-size: 1.5rem;
    }
}

@keyframes grow-img {
    from {
        width: 40px;
    }

    to {
        width: 64px;
    }
}


@keyframes bottom-title {
    from {
        opacity: 0;
        transform: translateY(90px);
        -webkit-transform: translateY(90px);
        -moz-transform: translateY(90px);
        -ms-transform: translateY(90px);
        -o-transform: translateY(90px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.timeline {
    .singular-item {
        &:nth-child(2n + 1) {
            opacity: 0;
            visibility: hidden;
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -o-transform: translateX(-100%);
            animation: slide-left linear forwards;
            -webkit-animation: slide-left linear forwards;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
        }
        &:nth-child(2n) {
            opacity: 0;
            visibility: hidden;
            transform: translateX(100%);
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -ms-transform: translateX(100%);
            -o-transform: translateX(100%);
            -webkit-animation: slide-right linear forwards;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
        }
    
    }
}
@keyframes slide-left {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }

    to {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}
@keyframes slide-right {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }

    to {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

